.naval {
    height: 100px;
    background-color: #F0F8FF;
    color: red;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}